<h1>Products</h1>

<p>
	<%= link_to "Add a New Product ", "/products/new" %>
</p>

<div>
	<ol>
		<% @products.each do |product| %>
		<li>
			<h3>
				<%= product.name %>
			</h3>
			<p>
				Price: $<%= product.formatted_price %> <br>
				Description: <%= product.description %><br>
				<%= link_to 'More information', product_path(product.id) %>
			</p>
			<br>
		</li>
		<% end %>
	</ol>
</div>
