<h1>Product Information</h1>

<p>
<%= link_to "Back", products_path %> | <%= link_to "Edit", edit_product_path(@product) %> | <%= link_to "Delete", @product, method: :delete, data: {confirm: "Are you sure you want to delete this product?"}  %>
</p>

<div>
	<h2> <%= @product.name %>	</h2>

	<p> <%= @product.description %>	</p>

	<p>	Purchase for: $<%= @product.formatted_price %> </p>
</div>

<h3>Reviews for <%= @product.name %></h3>
<ul id="review-list">
	<%= render :partial => "reviews" %>
</ul>

<% if current_user %>
	<h4>Add a review</h4>
		<%= render 'reviews/form' %>
	<% else %>
	<p>Please <%= link_to "log in", new_sessions_path %> to add a review.</p>
<% end %>

<script type="text/javascript">
	$(function() {
		$("#new_review")
		.on('ajax:beforeSend', function() {
			$("input[type='submit']")
			.val('Saving...')
			.attr('disabled', 'disabled');
		})
		.on('ajax:complete', function() {
			$("input[type='submit']")
			.val('Create Review')
			.removeAttr('disabled');
		});
	});
</script>
